/*
h1,h2,h3
{
    font-size: 1.4em;
}
*/

a
{
    text-decoration: none;
}

#nav
{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: rgba(128, 128, 128, 0.05);
}

.navbar-brand
{
    margin-right: 100px;
}

main, footer
{
    background-color: white;
}

div.card
{
    width: 360px;
}

#sobre
{
    background-color: rgba(128, 128, 128, 0.07);
    border-radius: 5px;
}
