.navbar-brand {
    margin-right: 50px !important;
}

.nav-link:hover
{
    background-color: rgba(213, 38, 0) !important;
    color: white !important;
}

.btn-primary {
    background-color: #e97c00 !important;
    border-color: #e97c00 !important;
}

.card
{
    background-color: rgb(48, 48, 48) !important;
}

body
{
    background-color: #222222 !important;
}

h2
{
    font-weight: bolder;
    color: rgb(249, 4, 4) ;
}

#gotop
{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #gotop:hover 
  {
    background-color: #555; /* Add a dark-grey background on hover */
  }