@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-standard: Verdana, Geneva, Tahoma, sans-serif;
    --font-0: 'Passion One', cursive;
    --font-1: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html, body {
    background-color: darkgray;
    min-height: 100%;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-family: var(--font-0);
    font-size: 6.5vw;
}

header > p {
    padding-bottom: 50px;
}

section {
    font-family: var(--font-1);
    font-size: 3.5vw;
    line-height: 2em;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-top: 10vh;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    color: white;
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#image-0 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#image-1 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}