@charset "UTF-8";

:root
{
    --corFundo: lightgray;
    --corPadrao: white;
    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

p
{
    text-align: justify;
}

body
{
    background-color: var(--corFundo);
}

section
{
    background-color: var(--corPadrao);
    max-width: 1100px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.33);
    padding: 10px 10px;
}

section > p
{
    font-size: 1.1em;
    padding-top: 15px;
}

input#descobrir
{
    background-color: rgb(38, 65, 143);
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 15px;
}

header
{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.33);
}

header > h1
{
    background-color: rgb(38, 65, 143);
    color: var(--corPadrao);
    text-align: center;
    padding: 5px;
}

footer
{
    background-color: var(--corFundo);
    margin-top: 10px;
    padding: 3px;
}

footer > p
{
    text-align: center;
    font-size: 1.05em;
}

footer > p > a
{
    text-decoration: none;
}

footer > p > a:hover
{
    text-decoration: underline;
}